.body {
  background-color: beige;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 10px;
}

.container {
  border: 2px double darkblue;
  border-radius: 4%;
  background-color: #f5c321c6;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
  margin-top: -10px;
  margin-bottom: 10px;
}

.container > .item {
  flex-basis: calc(100% / 4 - 10px);
}
.item {
  list-style: none;
}
/*_____--Kategories food*/

.group_1,
.group_2,
.group_3,
.group_4 {
  background-color: rgba(51, 139, 0, 0.109);
  margin-top: 10px;
  margin-left: 10px;

  border-radius: 2px;
}

.group_1:hover,
.group_2:hover,
.group_3:hover,
.group_4:hover {
  background-color: rgba(12, 0, 139, 0.7);
  box-shadow: 1px 2px 3px darkmagenta;
}

.box {
  min-width: 200px;
  height: auto;
  border: 1px solid darkgoldenrod;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
}

.box:hover {
  min-width: 200px;
  height: auto;
  border: 1px solid darkgoldenrod;
  margin-left: 10px;
  margin-right: 10px;
}
